In [37]:

import pandas as pd
import numpy as np

In [21]:
a = pd.Series(data =[24,35,64,33,50],index= ['IT Dept','Managers','HR Dept','Accout section','training team'])
a

IT Dept           24
Managers          35
HR Dept           64
Accout section    33
training team     50
dtype: int64

In [23]:
a[1]=20
a['Account section']=33
a[4]=45

In [24]:
a

IT Dept            24
Managers           20
HR Dept            64
Accout section     33
training team      45
Account section    33
dtype: int64

In [27]:
b = pd.Series(data=[10,20,30],index=['Science','Commerce','Humanities'])
c = pd.Series(data=[20,25,30],index=['Science','Commerce','Humanities'])
print(b)
print(c)

Science       10
Commerce      20
Humanities    30
dtype: int64
Science       20
Commerce      25
Humanities    30
dtype: int64

In [28]:
b+c

Science       30
Commerce      45
Humanities    60
dtype: int64

In [34]:
c1 = pd.Series(data=[9000,5000,4000,3000],index=['Delhi','Mumbai','Pune','Banglore'])
c2 = pd.Series(data=[80000,50000,70000,30000],index=['Delhi','Mumbai','Pune','Banglore'])
print(c1)
print(c2)

Delhi       9000
Mumbai      5000
Pune        4000
Banglore    3000
dtype: int64
Delhi       80000
Mumbai      50000
Pune        70000
Banglore    30000
dtype: int64

In [35]:
c2/c1

Delhi        8.888889
Mumbai      10.000000
Pune        17.500000
Banglore    10.000000
dtype: float64