In [2]:
import pandas as pd
import numpy as np

In [3]:
#Q1
S_1 = [1,2,3,4,5,6,7,8,9]
S1 = pd.Series(S_1)
S1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [5]:
#Q2
S2= pd.Series(30000,index=['Q1','Q2','Q3','Q4'])
S2

Q1    30000
Q2    30000
Q3    30000
Q4    30000
dtype: int64

In [29]:
#Q3
S3=np.random.randint(0, 70, 10)
data=pd.Series(S3)
data

0    22
1    63
2    33
3    52
4    49
5    38
6     3
7    64
8    64
9    27
dtype: int64

In [23]:
#Q4
marks={'Section A': 199,'Section B': 150,'Section C': 188,'Section D': 192}
a_series=pd.Series(marks)
a_series

Section A    199
Section B    150
Section C    188
Section D    192
dtype: int64

In [27]:
#Q5
time_period=range(2000,2023,2)
exam_question_series=pd.Series(200,index=time_period)
exam_question_series

2000    200
2002    200
2004    200
2006    200
2008    200
2010    200
2012    200
2014    200
2016    200
2018    200
2020    200
2022    200
dtype: int64