In [7]:
#Variables and Data Types
# Integer
x = 5

# Float
y = 3.14

# String
name = "Anmol"

# Boolean
is_active = True

In [6]:
#Data Structures
#list
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")  # Adding an element
print(fruits[1])  # Accessing elements by index

#Tuples
#Tuples are ordered and unchangeable collections
coordinates = (10, 20)
print(coordinates[0])

banana
10

In [5]:
#Dictionaries
#Dictionaries are unordered collections of key-value pairs.
person = {"name": "Anmol", "age": 25}
print(person["name"])
person["age"] = 26  # Updating value

Anmol

In [3]:
#If-Else Statements
age = 18
if age >= 18:
    print("Adult")
else:
    print("Minor")

Adult

In [2]:
#Loops
# For loop
for i in range(5):
    print(i)

# While loop
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4
0
1
2
3
4

In [1]:
#Map, Filter, and Reduce
# Map
nums = [1, 2, 3, 4]
squared = list(map(lambda x: x**2, nums))
print(squared)

# Filter
evens = list(filter(lambda x: x % 2 == 0, nums))
print(evens)

# Reduce
from functools import reduce
product = reduce(lambda x, y: x * y, nums)
print(product)

[1, 4, 9, 16]
[2, 4]
24